html { 
	height: 100% 
 }
body {
	height: 100%;
	margin: 0;
	padding: 0 }

#map-canvas {
	
	height: 100%; 
	width: 100%;
	
	
	
}

.circle{
margin-left:2%;
	margin-top:2%;
	height: 60%; 
	width: 60%;
border: solid red 2px;

}