html { 
	height: 100% 
	
 }
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0 }
	
/**
	main map
*/	
#outer-map{

	margin-left:2%;
	margin-top:2%;
	height: 90%; 
	width: 60%;
	

}
#map-canvas {
	margin-left:10%;
	margin-right:10%;
	margin-bottom:5%;
	margin-top:5%;
	
	height: 70%; 
	width: 80%;
	border: solid gray 1px;
	
	
}



/**
buttons
*/


#button-chevron-right{
	position:absolute;
	left:59%;
	top: 42.75%;


}
#button-chevron-left{
	position:absolute;
	left:5%;
	top: 42.75%;


}